{{!
    @template theme_aulav2/footer
    AulaV2 mockup footer.
}}
<footer class="aulav2-footer">
    <div class="aulav2-footer__shell">
        <div class="aulav2-footer__card-wrap">
            <div class="aulav2-footer__card">
                <div class="aulav2-footer__top">
                    <h2 class="aulav2-footer__title">{{#str}}footer_title, theme_aulav2{{/str}}</h2>
                    <div class="aulav2-footer__logo" aria-label="CRC">
                        <img class="crest" src="{{home.pix.crc_crest}}" alt="">
                        <div class="aulav2-footer__wordmark">
                            <img src="{{home.pix.crc_text}}" alt="CRC">
                            <img src="{{home.pix.crc_sub}}" alt="{{#str}}footer_crc_fullname, theme_aulav2{{/str}}">
                        </div>
                    </div>
                </div>

                <div class="aulav2-footer__info">
                    <div class="aulav2-footer__block">
                        <h3>{{#str}}footer_sede, theme_aulav2{{/str}}</h3>
                        <p>{{#str}}footer_address, theme_aulav2{{/str}}</p>
                        <p>{{#str}}footer_postal, theme_aulav2{{/str}}</p>
                        <p>{{#str}}footer_hours, theme_aulav2{{/str}}</p>
                    </div>
                    <div class="aulav2-footer__block">
                        <h3>{{#str}}footer_contacto, theme_aulav2{{/str}}</h3>
                        <p>{{#str}}footer_phone1, theme_aulav2{{/str}}</p>
                        <p>{{#str}}footer_phone2, theme_aulav2{{/str}}</p>
                        <p>{{#str}}footer_fax, theme_aulav2{{/str}}</p>
                        <p>{{#str}}footer_mail1_label, theme_aulav2{{/str}} <a class="mail" href="mailto:atencioncliente@crcom.gov.co">atencioncliente@crcom.gov.co</a></p>
                        <p>{{#str}}footer_mail2_label, theme_aulav2{{/str}} <a class="mail" href="mailto:notificacionesjudiciales@crcom.gov.co">notificacionesjudiciales@crcom.gov.co</a></p>
                        <p>{{#str}}footer_mail3_label, theme_aulav2{{/str}} <a class="mail" href="mailto:transparencia@crcom.gov.co">transparencia@crcom.gov.co</a></p>
                    </div>
                    <div class="aulav2-footer__block aulav2-footer__prai">
                        <h3>{{#str}}footer_orgs, theme_aulav2{{/str}}</h3>
                        <img src="{{home.pix.prai}}" alt="PRAI">
                    </div>
                </div>

                <p class="aulav2-footer__legal">{{#str}}footer_legal, theme_aulav2{{/str}}</p>

                <div class="aulav2-footer__social">
                    <span>{{#str}}footer_social, theme_aulav2{{/str}}</span>
                    <div class="aulav2-footer__social-icons" aria-label="{{#str}}sociallinks, theme_aulav2{{/str}}">
                        <img src="{{home.pix.icon_x}}" alt="X">
                        <img src="{{home.pix.icon_fb}}" alt="Facebook">
                        <img src="{{home.pix.icon_ig}}" alt="Instagram">
                        <img src="{{home.pix.icon_yt}}" alt="YouTube">
                        <img src="{{home.pix.icon_in}}" alt="LinkedIn">
                        <img src="{{home.pix.icon_ss}}" alt="Slideshare">
                    </div>
                </div>

                <div class="aulav2-footer__btns">
                    <a href="#">{{#str}}footer_politicas, theme_aulav2{{/str}}</a>
                    <a href="#">{{#str}}footer_mapa, theme_aulav2{{/str}}</a>
                    <a href="#">{{#str}}footer_terminos, theme_aulav2{{/str}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="aulav2-govco-foot">
        <img class="govco" src="{{home.pix.govco_logo}}" alt="gov.co">
        <span class="sep" aria-hidden="true"></span>
        <img class="co" src="{{home.pix.co_logo}}" alt="CO Colombia">
    </div>
</footer>

